.prewrapped {
    white-space: pre-wrap;
    background: #f9f9f9;
    font-size: 14px;
    color: #40424a;
}

.mpad {
	padding-top: 30px;
	padding-bottom: 45px;
}

.ugly-file-input {
    visibility: hidden;
    height: 0px;
}

.center-div {
    text-align: center;
}

button.site-btn.disabled {
	background-color: #f2f2f2;
	border: 2px solid #9295a0;
	color: #9295a0;
}

.section-title.wtext h2{
	margin-bottom: 40px;
}

#drop-box.drag-over {
    background: #d9d9d9;
    border-style: dashed;
    border-width: 2px;
    border-color: #b3b3b3;
    opacity: 0.5;
}

.links a{
    color: #b9b9b9;
    -o-transition: all 0.3s;
	transition: all 0.3s;
}


.links a:hover{
    color: #484848;
}

.project-item h2 {
	font-size: 24px;
	margin-bottom: 5px;
}

.project-item p {
	font-size: 14px;
	margin-bottom: 0;
}

.project-item .proj-pic {
    position: absolute;
    margin-bottom: 30px;
	display: block;
	height: 480px;
	background: #333;
	background-position: center center;
	background-size: cover;
	overflow: hidden;
    position: relative;
}

.js-smartPhoto img {
    height: 250px;
    width: auto;
}

.image-list {
    overflow-x: auto;
    white-space: nowrap;
}